name: Pull Request Docs Check

on: [pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    # Standard drop-in approach that should work for most people.
    - uses: theturnout/sphinx-action@master
      with:
        build-command: "sphinx-build -b html . build"
        docs-folder: "docs/source/"
